.welcome-message{
  font-size: 2.5 em;
  background-color: hsl(120, 68%, 53%);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.login-prompt{
  font-size: 2.5 em;
  background-color: rgb(199, 78, 41);
  color: white;
  padding: 10px;
  border-radius: 5px;
}